/* Reset CSS básico */

/* Definir a margem e o preenchimento de todos os elementos como zero */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Garante que a largura e a altura incluam o preenchimento e a borda */
}

/* Remover o sublinhado de todos os links */
a {
  text-decoration: none;
}

/* Remover a lista de estilos */
ul, ol {
  list-style: none;
}


/* Definir a cor do texto padrão */
body {
  background-color: #66c0f4; /* Cor de fundo da página */
  color: #fff; /* Cor do texto padrão (preto) */
  font-family: Arial, sans-serif;
  text-decoration: none;
  height: 2000px;
}

a button span{ 
  color: white;
}

#background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  z-index: -1;
}

#background video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

.icon{
  width: 50px;
  height: 40px;
  top: 0;
  left: 0;
  margin-top: 20px;
}
/* Estilos para a barra superior */
header {
  display: flex; /* Exibe os elementos do cabeçalho em linha */
  top: 0;
  position: fixed;
  width: 100%;
  padding-inline: 15px;
  align-items: center; /* Centraliza os itens verticalmente */
  height: 60px; /* Define uma altura para o cabeçalho */
  background-color: #333; /* Cor de fundo do cabeçalho */
  
}

header ul {
  display: flex; /* Exibe os itens de navegação em linha */
  list-style: none; /* Remove os marcadores de lista */
}

header ul li {
  margin: 0px; /* Adiciona um espaço entre os itens de navegação */
  margin-left: 40px;
}
header ul li a {
  position: relative;
  top: -25px;
  left: 30px;
  font-size: 1.2em;
  color: #fff; /* Cor do texto dos itens de navegação */
  text-decoration: none; /* Remove o sublinhado dos links */
  justify-content: space-around;
  padding-block: 13px;
  padding-inline: 13px;
}

/* Estilos para a barra lateral */
.sidebar {
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 60px;
  left: 0;
  color: #fff;
}
/* Estilização dos spans */
.sidebar span {
  margin-top: 10px;
  display: relative;
  font-size: 1.2rem; /* Tamanho da fonte em relação ao tamanho do texto padrão */
  padding: 30px;
  text-decoration: none;
  border-radius: 20px;
  border-width: 50px;
  max-width: 80%; /* Defina o valor máximo de largura que o texto pode ocupar */
  overflow: hidden; /* Impede que o texto transborde o elemento */
}

.sidebar span a{
  color: #fff;
}

/* Efeito de hover no span */
.sidebar span:hover {
  background-color: #2a475e; /* Cor de fundo ao passar o mouse */
  border-radius: 20px; /* Borda arredondada ao passar o mouse */}

/* Estilos para o span quando o hover está ativo */
.sidebar span.hovered {
  background-color: #2a475e; /* Cor de fundo ao passar o mouse */
  border-radius: 50px; /* Borda arredondada ao passar o mouse */
  margin-top: -10px;
}

.floating-page {
  display: none;
  position: absolute;
  top: 125px;
  left: 5px;
  z-index: 1;
  background-color: #c7d5e0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #000;
  font-size: 1.2rem; /* Tamanho da fonte em relação ao tamanho do texto padrão */
  max-width: 200px; /* Defina o valor máximo de largura para o texto dentro do hover */
  overflow: hidden; /* Impede que o texto transborde o elemento */
}

#speedRuns:hover + .floating-page {
  display: block; /* Exibe quando o Speed Runs é hover */
}

/* Estilos para o formulário de pesquisa */
#search-form {
  position: fixed;
  z-index: 1;
}

#search-input {
  width: 250px; /* Largura do campo de entrada de pesquisa */
  padding: 10px; /* Espaçamento interno do campo de entrada */
  border-radius: 8px; /* Borda arredondada do campo de entrada */
  position: fixed;
  right: 100px;
  top: 20px;
  transform: translate(0,0);
}

#search-form button {
  padding: 8px 20px; /* Espaçamento interno do botão de pesquisa */
  background-color: rgba(0, 0, 0, 0.25); /* Cor de fundo do botão de pesquisa */
  color: #fff; /* Cor do texto do botão de pesquisa */
  border: none; /* Remove a borda do botão de pesquisa */
  border-radius: 8px; /* Borda arredondada do botão de pesquisa */
  cursor: pointer; /* Altera o cursor ao passar o mouse sobre o botão de pesquisa */
  position: fixed;
  right: 0px;
  top: 25px;
  transform: translate(0,0);
}
