/* Reset CSS básico */

/* Definir a margem e o preenchimento de todos os elementos como zero */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Garante que a largura e a altura incluam o preenchimento e a borda */
}

/* Remover o sublinhado de todos os links */
a {
  text-decoration: none;
}

/* Remover a lista de estilos */
ul,
ol {
  list-style: none;
}

/* Definir a cor do texto padrão */
body {
  background-color: rgb(95, 136, 218); /* Cor de fundo da página */
  color: #fff; /* Cor do texto padrão (preto) */
  font-family: Arial, sans-serif;
  text-decoration: none;
  height: 100%;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 5);
}
.logo {
  position: flex;
  width: 70px;
  height: 40px;
  margin-left: -30px;
  margin-top: 0px;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  font-weight: 700;
  margin-left: 50px;
  text-decoration: none;
  color: #000000;
  
}

.navigation a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  left: 0;
  bottom: -10px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.input-search {
  width: 15rem;
  border: 1px solid #000000;
  outline: none;
  border-radius: 5px;
  font-size: 1.1em;
  color: #000000;
  margin-left: 30px;
  transition: 0.5s;
}

.buscar {
  width: 80px;
  height: 30px;
  background: #162938;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
  transition: 0.5s;
  color: #fff;
}

.buscar:hover{
  background: #6b63fff1;
  color: #162938;
}

.navigation .btnLogin {
  width: 100px;
  height: 40px;
  background: #162938;
  border: 1px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 50px;
  transition: 0.5s;
}

.navigation .btnLogin:hover {
  background: #6b63fff1;
  color: #162938;
}

.navigation .btnCadastro {
  width: 100px;
  height: 40px;
  background: #162938;
  border: 1px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 10px;
  transition: 0.5s;
}

.navigation .btnCadastro:hover {
  background: #6b63fff1;
  color: #162938;
}
