<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../public/style.css"> <!-- Inclui o arquivo CSS -->
    <link rel="icon" href="./Assets/favicon.ico">

    <script defer src="../public/script.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Nintendo Achievements</title>

</head>
<body>

    <header>
        <img class="logo" src="../Assets/logo-cap.png" alt="logo">

        <nav class="navigation">
            <a href="#">Jogos</a>
            <a href="#">Desafio</a>
            <a href="#">Fóruns</a>
            <a href="#">Ajuda</a>

            <input class="input-search" type="search" placeholder="Digite algo para buscar...">
            <button class="buscar" type="button">Buscar</button>

            <button class="btnLogin" type="button">Login</button>
            <button class="btnCadastro" type="button">Cadastrar</button>

        </nav>
    </header>
    
    <main></main>
    <aside></aside>
    <footer></footer>
    
</body>
</html>
